<!DOCTYPE HTML>
<head>
  <meta charset="utf-8" />
  <style>
    body {
      font-family: Didot;
      text-align:center;
      margin: auto;
      background-color: lightblue;
        }
    h2 {
      font-size: 40px ;
    }
    h1 {
      font-size: 60px ;
     }
    
    a:link {
      text-decoration: none;
      color: black;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: #76767a;
    } 
</style>
</head>
<body>
<br>
  <h1> eBazarek </h1> <br>
  <h2>
    <ul style="list-style: none;">
      
        
        <li>
          <%= link_to " Zaloguj ", "/login" %> 
        </li>
        <br>
      </ul>
  </h2>
  </body>
