<h2> Kategorie  (<%= @categories.count %>)</h2>
<ol>
    <% @categories.each do |category|%>
        <li>
            <%= link_to category_products_path(category) do %>
            <%= category.title%>
            (<%= category.products.count %>) 
            <% end %>
        </li>
        
    <% end%>
        
</ol>